<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://10.10.1.86/WsCfdi/WsEstados.svc" binding="webHttpBinding"
                      behaviorConfiguration="webEndpoint" contract="WsEstados.IWsEstados" >
            </endpoint>
        </client>
        <behaviors>
          <endpointBehaviors>
            <behavior name="webEndpoint">
              <webHttp defaultOutgoingResponseFormat="Xml"
                       helpEnabled="true"/>
            </behavior>
          </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>